@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">Bem-vindo ao CollabBridge!</h1>
                <p>Utilize a barra de Menu acima para acessar as áreas de trabalho.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/img/img.png" alt="Imagem" class="img-fluid">
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>
